/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Secular+One&display=swap');*/
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZthiI2B.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-display: swap;
src: url("/assets/fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2") format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */
@font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Secular One'), local('SecularOne-Regular'), url("/assets/fonts/8QINdiTajsj_87rMuMdKyqDiOOg.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@layer utilities {
    .backdrop-blur-3 {
        backdrop-filter: blur(0.75rem);
    }
}

.conform .vs-input {
    width: 100% !important;
}

*:focus {
    outline: none!important;
}

* {
    @apply font-carstyle-text;
}

.text-logo {
    font-size: 26px;
    @apply font-carstyle-logo;
}

nav {
    background: radial-gradient(74.35% 165.12% at 71.34% 62.79%, rgba(244, 245, 249, 0) 0%, #F4F5F9 60.23%, #F4F5F9 100%);
}
.first {
    background: radial-gradient(74.35% 165.12% at 71.34% 62.79%, rgba(244, 245, 249, 0) 0%, #F4F5F9 60.23%, #F4F5F9 100%);
}

.second {
    background: radial-gradient(53.01% 118.22% at 50% 20.57%, rgba(237, 239, 245, 0.6) 0%, #EDEFF5 60.23%, #EDEFF5 100%);
}

.third {
    @apply bg-gray-100;
}

.fourth {
    background: radial-gradient(53.01% 118.22% at 50% 20.57%, rgba(237, 239, 245, 0.6) 0%, #EDEFF5 60.23%, #EDEFF5 100%);
}

.fifth {
    background: radial-gradient(53.01% 118.22% at 50% 20.57%, rgba(237, 239, 245, 0.6) 0%, #EDEFF5 60.23%, #EDEFF5 100%);
}

body {
    background: radial-gradient(53.01% 118.22% at 50% 20.57%, rgba(237, 239, 245, 0.6) 0%, #EDEFF5 60.23%, #EDEFF5 100%);
}

.map-shadow {
    box-shadow: 0px 15px 33px -6px #D4D7E1;
}

.splide__arrow {
    background: transparent !important;
}
.splide__arrow--next {
    @apply -right-12 !important;
}
.splide__arrow--prev {
    @apply -left-12 !important;
}

.dots_back {
    background-image: url("/assets/images/dots_back.png");
    @apply bg-no-repeat bg-cover absolute;
}
.vs-input__message.vs-input__message--danger.v-enter-to {
    height: unset!important;
}
.vs-input__message.vs-input__message--danger.v-leave-to {
    height: 0!important;
}

.admin-service-tabs {
    @apply max-w-full min-w-full;
}
.admin-service-tabs .tabs-component {
    @apply flex max-w-full;
}
.admin-service-tabs .tabs-component-tabs {
    @apply flex flex-col;
    max-width: 215px;
}
.admin-service-tabs .tabs-component-tab {
    @apply border transform relative transition duration-300 translate-x-1;
}
.admin-service-tabs .tabs-component-tab.error {
    @apply border-red-500;
}
.admin-service-tabs .tabs-component-tab .tabs-component-tab-a {
    @apply p-4 w-full flex;
}
.admin-service-tabs .tabs-component-tab.is-active {
    @apply translate-x-px z-20;
    border-right: 1px solid #fff;
}
.admin-service-tabs .tabs-component-panels {
    @apply p-4 border max-w-full overflow-hidden relative z-10 bg-white;
}

.custom-tabs-component {
    @apply flex;
}
.custom-tabs-component-tab {
    @apply mb-8;
}
.custom-tabs-component-tabs .custom-tabs-component-tab.active p {
    @apply text-indigo-500;
}
.custom-tabs-component-tabs .custom-tabs-component-tab p {
    @apply cursor-pointer;
}
.custom-tabs-component-tabs ul {
    @apply pl-4;
}
.custom-tabs-component-tabs ul li {
    @apply p-2 cursor-pointer;
}
.custom-tabs-component-tabs ul li.is-active {
    @apply text-indigo-500;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
.custom .vs-table table {
    @apply min-w-screen;
}

@media (min-width: 1024px) {
    .custom .vs-table table {
        @apply min-w-full;
    }
}
